<div style="width: 100%; height: 100%">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for produit in produits %}
      <div class="bg-white rounded-lg shadow p-4">
        <h3 class="text-xl font-bold">{{ produit[1] }}</h3>
        <p>ID : {{produit[0]}} </p>
        <p class="text-gray-500">Type : {{ produit[3] }}</p>
        <p class="text-green-600 font-semibold">{{ produit[2] }} GNF</p>
      </div>
    {% endfor %}
    </div>
</div>
<script src="https://cdn.tailwindcss.com"></script>
