<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap.min.css') }}"
    />
    <title>Gestionnaire boutique SQL</title>
  </head>
  <style>
    section,
    details {
      margin-top: 5%;
    }
  </style>
  <body>
    <div class="card-shadow">
      <div class="card">
        <div class="card-head text-center bg-secondary">
          <h1>Simulateur boutique SQL</h1>
        </div>
        <div class="card-body bg-danger text-center text-white">
          <section id="produits_center">
            <details>
              <summary>1. Gérer les produits</summary>
              <p>-- Choisir --</p>
              <details id="produits_voir" style="height: 100%">
                <summary>1. Voir le catalogue complet (produits)</summary>
                <iframe
                  src="/produits"
                  frameborder="1"
                  width="100%"
                  height="100%"
                  class="text-center"
                ></iframe>
              </details>
              <details id="produits_ajouter">
                <summary>2. Ajouter un produit</summary>
                <section id="form_ajout_produit">
                  <form action="/produits/ajouter" method="post">
                    <input type="text" placeholder="nom" name="nom" />
                    <input type="number" placeholder="prix" name="prix" />
                    <input type="text" placeholder="type" name="type_prod" />
                    <input type="submit" value="Ajouter" />
                  </form>
                </section>
              </details>
              <details id="produits_modifier">
                <summary>3. Modifier le produit</summary>
                <section id="form_modifier_produit">
                  <form action="/produits/modifier" method="post">
                    <input
                      type="number"
                      placeholder="id du produit"
                      name="produits_id"
                    />
                    <input
                      type="number"
                      placeholder="nouveau prix"
                      name="prix"
                    />
                    <input type="submit" value="Modifier" />
                  </form>
                </section>
              </details>
              <details id="produits_supprimer">
                <summary>4. Supprimer un produit</summary>
                <section id="form_supprimer_produit">
                  <form action="/produits/supprimer" method="post">
                    <input
                      type="number"
                      placeholder="id du produit"
                      name="produits_id"
                    />
                    <input type="submit" value="Supprimer" />
                  </form>
                </section>
              </details>
            </details>
          </section>

          <section id="clients_center">
            <details>
              <summary>2. Gérer les clients</summary>
              <p>-- Choisir --</p>
              <details id="clients_commandes_voir">
                <summary>1. Voir le catalogue complet (clients)</summary>
                <iframe src="/clients" frameborder="1" width="100%"></iframe>
              </details>
              <details id="clients_commandes_ajouter">
                <summary>2. Ajouter un client</summary>
                <section id="form_ajout_client">
                  <form action="/clients/ajouter" method="post">
                    <input type="text" placeholder="nom" name="nom" />
                    <input type="text" placeholder="prénom" name="prenom" />
                    <input type="text" placeholder="adresse" name="adresse" />
                    <input type="submit" value="Ajouter" />
                  </form>
                </section>
              </details>
              <details id="clients_commandes_modifier">
                <summary>3. Modifier le client</summary>
                <section id="form_modifier_client">
                  <form action="/clients/modifier" method="post">
                    <input
                      type="number"
                      placeholder="id du client"
                      name="clients_id"
                    />
                    <input type="text" placeholder="nom" name="nom" />
                    <input type="text" placeholder="prénom" name="prenom" />
                    <input type="text" placeholder="adresse" name="adresse" />
                    <input type="submit" value="Modifier" />
                  </form>
                </section>
              </details>
              <details id="clients_commandes_supprimer">
                <summary>4. Supprimer un client</summary>
                <section id="form_supprimer_client">
                  <form action="/clients/supprimer" method="post">
                    <input
                      type="number"
                      placeholder="id du client"
                      name="clients_id"
                    />
                    <input type="submit" value="Supprimer" />
                  </form>
                </section>
              </details>
            </details>
          </section>

          <section id="commandes_center">
            <details>
              <summary>3. Gérer les produits</summary>
              <p>-- Choisir --</p>
              <details id="commandes_voir">
                <summary>1. Voir le catalogue complet (commandes)</summary>
                <iframe src="/commandes" frameborder="0" width="100%" height="100%"></iframe>
              </details>
              <details id="commandes_ajouter">
                <summary>2. Ajouter un commande</summary>
                <section id="form_ajout_commande">
                  <form action="/commandes/ajouter" method="post">
                    <input
                      type="number"
                      placeholder="id du client"
                      name="clients_id"
                      required
                    />
                    <input type="date" name="date_comm" required />

                    <div id="lignes_produits">
                      <div class="ligne_produit">
                        <input
                          type="number"
                          placeholder="id produit"
                          name="produits_id[]"
                          required
                        />
                        <input
                          type="number"
                          placeholder="quantité"
                          name="quantite[]"
                          required
                        />
                      </div>
                    </div>
                    <button type="button" id="btn_ajouter_ligne">
                      + Ajouter un produit
                    </button>
                    <input type="submit" value="Enregistrer la commande" />
                  </form>
                </section>
              </details>
              <details id="commandes_modifier">
                <summary>3. Modifier une commande</summary>
                <section id="form_modifier_commande">
                  <form action="/commandes/modifier" method="post">
                    <input type="number" placeholder="id de la commande" name="commandes_id" required />
                    <input type="date" placeholder="nouvelle date" name="date_comm" required />
                    <input type="number" placeholder="nouvel id client" name="clients_id" required />
                    <input type="submit" value="Modifier" />
                  </form>
                </section>
              </details>
              <details id="commandes_supprimer">
                <summary>4. Supprimer une commande</summary>
                <section id="form_supprimer_commande">
                  <form action="/commandes/supprimer" method="post">
                    <input type="number" placeholder="id de la commande" name="commandes_id" required />
                    <input type="submit" value="Supprimer" />
                  </form>
                </section>
              </details>
          </section>
        </div>
      </div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
